Repository naver/egjs-flicking, pull requests merged in 2019-12, with the labels that each got.

#325 fix: add missing typings of vue-flicking
  packages/vue-flicking/src/Flicking.ts
  packages/vue-flicking/src/types.ts
Labels: :bookmark:3.x, :label:Types, :package:Vue

#328 fix: text node can be used as panel
  packages/vue-flicking/demo/plugins/Autoplay.vue
  packages/vue-flicking/demo/plugins/Fade.vue
  packages/vue-flicking/demo/plugins/Parallax.vue
  packages/vue-flicking/src/Flicking.ts
Labels: :bookmark:3.x, :bug:Bug, :package:Vue

#324 fix: fix angular's method types
  packages/ngx-flicking/projects/ngx-flicking/src/lib/FlickingInterface.ts
  packages/ngx-flicking/projects/ngx-flicking/src/lib/ngx-flicking.component.ts
  packages/ngx-flicking/projects/ngx-flicking/src/lib/types.ts
Labels: :bookmark:3.x, :label:Types, :package:Angular
