Repository naver/egjs-flicking, pull requests merged in 2022-04, with the labels that each got.

#640 docs: Fix class to className in example
  docs/docs/quick-start.mdx
Labels: :memo: Docs, :bookmark:4.x

#642 fix: removed panel should not included as visible panel
  src/components/PanelManager.ts
  test/unit/Viewport.spec.ts
Labels: :bug:Bug, :bookmark:3.x

#646 fix: broken rendering on React 18
  docs/src/demo/DateSelector.tsx
  packages/react-flicking/package.json
  packages/react-flicking/src/demo/App.tsx
  packages/react-flicking/src/demo/features/FreeScroll.tsx
  packages/react-flicking/src/index.tsx
  packages/react-flicking/src/react-flicking/Flicking.tsx
  packages/react-flicking/src/react-flicking/ReactRenderer.ts
  packages/react-flicking/tsconfig.json
  packages/react-flicking/tsconfig.paths.json
  src/Flicking.ts
  src/camera/Camera.ts
  src/renderer/Renderer.ts
  test/manual/index.html
  test/manual/js/index.js
  test/unit/Flicking.spec.ts
  test/unit/camera/Camera.spec.ts
  test/unit/core/panel/Panel.spec.ts
Labels: :bug:Bug, :package:React, :bookmark:4.x

#648 docs: add viewport slot docs
  docs/docs/tutorials/error-handling.mdx
  docs/docs/tutorials/installation.mdx
  docs/docs/tutorials/listening-to-events.mdx
  docs/docs/tutorials/migration-from-v3.mdx
  docs/docs/tutorials/polyfills.mdx
  docs/docs/tutorials/quick-start.mdx
  docs/docs/tutorials/ssr.mdx
  docs/docs/tutorials/using-the-methods.mdx
  docs/docs/tutorials/viewport-slot.mdx
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/src/demo/AddRemove.tsx
  docs/src/demo/DateSelector.tsx
Labels: :memo: Docs, :bookmark:4.x

#651 fix: v-if rendering on Vue3
  packages/vue3-flicking/src/Flicking.ts
Labels: :bug:Bug, :bookmark:4.x, :package:Vue3

#653 fix: wrong sync if ordered is included
  src/cfc/sync.ts
  src/renderer/Renderer.ts
Labels: :bug:Bug, :bookmark:4.x

#649 feat: add resizeDebounce & maxResizeDebounce
  docs/src/pages/Options.mdx
  src/Flicking.ts
  src/core/AutoResizer.ts
  src/core/ResizeWatcher.ts
  test/manual/css/index.css
  test/manual/js/index.js
Labels: :sparkles:Feature, :bookmark:4.x

#659 fix: stop willChange event
  src/control/Control.ts
  src/control/FreeControl.ts
  src/control/SnapControl.ts
  src/control/StrictControl.ts
  src/control/states/AnimatingState.ts
  src/control/states/DraggingState.ts
  test/manual/index.html
  test/manual/js/index.js
  test/unit/Flicking.spec.ts
  test/unit/control/FreeControl.spec.ts
  test/unit/control/SnapControl.spec.ts
  test/unit/control/StrictControl.spec.ts
Labels: :bug:Bug, :bookmark:4.x
